go 1.20

use "./8. String to Integer (atoi)"

use "./24. Swap Nodes in Pairs"

use "./27. Remove Element"

use "./66. Plus One"

use "./268. Missing Number"

use "./382. Linked List Random Node"

use "./707. Design Linked List"

use "./724. Find Pivot Index"

use "./796. Rotate String"

use (
	"./2659. Make Array Empty"
	"./2. Add Two Numbers"
	"./2816. Double a Number Represented as a Linked List"
	"./295. Find Median from Data Stream"
	"./535. Encode and Decode TinyURL"
	"./65. Valid Number"
	"./68. Text Justification"
	"./7. Reverse Integer"
	"./75. Sort Colors"
)
